/* Note: PurgeCSS ignore comments around imports are not working in this project. */
@import './tomorrow-night-eighties.css';

@tailwind base;

/* My custom base styles. */
a {
  @apply text-green-700 underline;
}

@tailwind components;
@tailwind utilities;

/* My custom utilities. */

/*! purgecss ignore */
.zoom-in {
  @apply transform transition-all duration-75;
}

.zoom-in:hover {
  /*! purgecss ignore current */
  @apply scale-150;
}

/*! purgecss start ignore */
.zoom-in:active {
  @apply bg-red-600;
}
/*! purgecss end ignore */

/* Use the apply directive to import Tailwind rules for other classes. */
.btn {
  @apply inline-block px-4 py-2 mb-12
    bg-blue-500
    text-white font-bold
    rounded-lg
    no-underline;
}

/* The responsive directive can be used to generate all the variants for a specific rule. */
@responsive { /* Variants can use the @responsive {} directive. */
  @variants hover {
    .btn-hulk {
      @apply btn;
      @apply bg-green-500;
      @apply duration-100;
      transform: scale(2);
      transform-origin: top left;
    }
  }
}

.btn-scream {
  @apply btn;
}

/* The screen directive can be used to only use rules at a specific breakpoint. */
@screen lg {
  .btn-scream::after {
    content: '!!!';
  }
}

/* The theme function can be used to pull in existing Tailwind values where necessary. */
.shadow-orange {
  box-shadow: 10px 10px 0px 0px theme('colors.orange.600');
}
